<% provide(:title, "Kitten list") %>

<h2>Kitten list</h2>
<%= link_to "New kitty", new_kitten_path %>

<p><%= flash[:success] %></p>
<p><%= flash[:error] %></p>

<table>
	<thead>
		<tr>
			<th>Name</th>
			<th>Age</th>
			<th>Softness</th>
			<th>Cuteness</th>
		</tr>
	</thead>
	<tbody>
		<% @kitten.each do |kat| %>
			<tr>
				<td><%= link_to kat.name, kitten_path(kat) %></td>
				<td><%= kat.age %></td>
				<td><%= kat.softness %></td>
				<td><%= kat.cuteness %></td>
			</tr>
		<% end %>
	</tbody>

</table>